<div class="container">
  
    <mat-card>
  
      <mat-card-content>
  
        <div fxLayout="row wrap" class="content">
  

          <div fxFlex="50%" class="mat-body-strong">
            Client Name
          </div>
  
          <div fxFlex="50%">
            {{ viewData.ClientName }}
          </div>
  
          <div fxFlex="50%" class="mat-body-strong">
            Chit Name
          </div>
  
          <div fxFlex="50%">
            {{ viewData.ChitName }}
          </div>
  
          <div fxFlex="50%" class="mat-body-strong">
            Payable Amount
          </div>
  
          <div fxFlex="50%">
            {{ viewData.PayableAmount }}
          </div>
  
  
          
        </div>
  
      </mat-card-content>
  
    </mat-card>
  
  </div>