<div class="container m-b-20" fxLayout="row" fxLayout.lt-md="column" fxLayoutAlign="end" fxLayoutGap="2%">
    <button mat-raised-button color="primary" [routerLink]="['edit']">
      <fa-icon icon="edit"></fa-icon>&nbsp;&nbsp;
      Edit
    </button>
    <button mat-raised-button color="warn" (click)="delete()">
      <fa-icon icon="trash"></fa-icon>&nbsp;&nbsp;
      Delete
    </button>
  </div>
  
  <div class="container">
  
    <mat-card>
  
      <mat-card-content>
  
        <div fxLayout="row wrap" class="content">
  
          <!-- <div fxFlex="50%" class="mat-body-strong">
            Login Name
          </div>
  
          <div fxFlex="50%">
            {{ chargeData.username }}
          </div> -->

          <div fxFlex="50%" class="mat-body-strong">
            Charge ID
          </div>
  
          <div fxFlex="50%">
            {{ chargeData.id }}
          </div>
  
          <div fxFlex="50%" class="mat-body-strong">
            Charge Name
          </div>
  
          <div fxFlex="50%">
            {{ chargeData.name }}
          </div>
  
          <div fxFlex="50%" class="mat-body-strong">
            Amount
          </div>
  
          <div fxFlex="50%">
            {{ chargeData.amount }}
          </div>
  
  
          
        </div>
  
      </mat-card-content>
  
    </mat-card>
  
  </div>
  