<div class="container">
  <mat-card>
      <div class="mat-elevation-z8">
        <table mat-table [dataSource]="dataSource" matSort>

          <ng-container matColumnDef="ClientId">
            <th mat-header-cell *matHeaderCellDef > Client ID </th>
            <td mat-cell *matCellDef="let outstanding"> {{ outstanding.ClientId }} </td>
          </ng-container>
      
          <ng-container matColumnDef="ClientName">
            <th mat-header-cell *matHeaderCellDef> Client Name </th>
            <td mat-cell *matCellDef="let outstanding"> {{ outstanding.ClientName }} </td>
          </ng-container>

          <ng-container matColumnDef="ChitId">
              <th mat-header-cell *matHeaderCellDef> Chit ID </th>
              <td mat-cell *matCellDef="let outstanding"> {{ outstanding.ChitId }} </td>
            </ng-container>

            <ng-container matColumnDef="ChitNumber">
              <th mat-header-cell *matHeaderCellDef>Chit Number </th>
              <td mat-cell *matCellDef="let outstanding"> {{ outstanding.ChitNumber }} </td>
            </ng-container>

            <ng-container matColumnDef="ChitName">
              <th mat-header-cell *matHeaderCellDef>Chit Name </th>
              <td mat-cell *matCellDef="let outstanding"> {{ outstanding.ChitName }} </td>
            </ng-container>

            <ng-container matColumnDef="DemandId">
              <th mat-header-cell *matHeaderCellDef>Demand ID </th>
              <td mat-cell *matCellDef="let outstanding"> {{ outstanding.DemandId }} </td>
            </ng-container>

          <ng-container matColumnDef="DemandDate">
            <th mat-header-cell *matHeaderCellDef> Demand Date </th>
            <td mat-cell *matCellDef="let outstanding"> {{ outstanding.DemandDate }} </td>
          </ng-container>

          <ng-container matColumnDef="PayableAmount">
              <th mat-header-cell *matHeaderCellDef>Payable Amount </th>
              <td mat-cell *matCellDef="let outstanding"> {{ outstanding.PayableAmount }} </td>
            </ng-container>
            

          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="select-row" [routerLink]="[row.ChitId]"></tr>
          
        </table>
        <mat-paginator [pageSizeOptions]="[10, 25, 50, 100]" showFirstLastButtons></mat-paginator>
      </div>

      <div class="align">
        <button mat-raised-button color="primary" (click)="PayNow()">
          Pay Now
        </button>
      </div>
    
  </mat-card>

</div>